<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CycleSync</title>
    <link rel="stylesheet" href="/css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <footer class="site-footer">
      <div class="row primary">
        <div class="column about">
          <h1>
            <span id="letter-C">C</span>ycle<span id="letter-S">S</span>ync
          </h1>
          <p>
            Pedal into the Future with CycleSync – Convenient, Affordable, and
            Sustainable Bike Rentals!
          </p>
          <div class="social">
            <i class="fa-brands fa-facebook-square"></i>
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-twitter-square"></i>
            <i class="fa-brands fa-youtube-square"></i>
            <i class="fa-brands fa-whatsapp-square"></i>
          </div>
        </div>
        <div class="column links">
          <h3>Navigation Links</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Services
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/wheels">Explore Wheels</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/wheelPricing">Pricing</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/plans">Membership Plans</a>
                </li>
              </ul>
            </li>
            <li><a href="#terms-of-services">About Us</a></li>
            <li><a href="#support">Contact Us</a></li>
          </ul>
        </div>
        <div class="column links">
          <h3>Legal Links</h3>
          <ul>
            <li><a href="#faq">Privacy Policy</a></li>
            <li><a href="#cookies-policy">Terms & Conditions</a></li>
            <li><a href="#terms-of-services">Refund Policy</a></li>
          </ul>
        </div>
        <div class="column subscribe">
          <h3>Newsletter</h3>
          <div>
            <input type="email" placeholder="Your email id here" />
            <button class="btn-footer">Subscribe</button>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>Copyright &copy;2024 CycleSync | All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
